*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 0.9rem;
    font-family: "Avenir", "Helvetica Neue", "Arial", sans-serif;
    height: 100vh;
}

body {
    background-color: #192438;
    margin: 0;
    width: 100%;



    background-image: linear-gradient(to top, #2d5b81, #192438 37.5rem);    background-size: 100%;
    background-repeat: no-repeat;


    border: 1px solid red;
}
