.DateButton{
    display: flex;
    justify-content: center;

   margin-bottom: 1.5rem;
}

.DateButton_button{
    background-color: #190707
    ;
    color: white;
    border: none;
    border-radius: 0.5rem;


   

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 6rem;
}

.activeDateButton{
    background-color: #bada55;
}
