.DayTimeButton {
    position: relative;
}

.DayTimeButton-Button {
    color: #fff;
    width: 5.5rem;

    border-radius: 0.5rem;
    border: 1px solid #fff;

    padding: 1rem;
    margin: 0.15rem;
}

.DayTimeButton-Capacity {
    font-size: 0.5rem;

    position: absolute;
    top: 6px;
    left: 6px;
    margin-bottom: 0.25rem;
}
