.DecreaseButton-Button {
    max-width: 5.5rem;

    border-radius: 0.5rem;
    height: 100%;

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    margin-left: 0.015rem;
    margin-right: 0.015rem;
}
