*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 0.9rem;
    font-family: "Avenir", "Helvetica Neue", "Arial", sans-serif;
    height: 100vh;
}

body {
    background-color: #192438;
    margin: 0 auto;
    max-width: 35rem;

    background:
    radial-gradient(
      circle at 50% 0,
      #192438,
      #2d5b81 99%
    ) #c0b8b8;
   
    }

