.MainNavbar{
    padding-top: 2rem;
}

.MainNavbar-Header {
    display: flex;
    margin-bottom: 1.5rem;
}

.MainNavbar-Header {
    display: flex;
    margin-bottom: 1.5rem;
}

.MainNavbar-Icon {
    height: auto;
    border-radius: 1rem;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
}

.MainNavbar-Icon:hover {
    background-color: #1c591f;
    transform: scale(1.05);
}
