.MainNavbar-Header {
    display: flex;
    margin-bottom: 1.5rem;
}

.MainNavbar-Icon {
    height: auto;

    border-radius: 1rem;

    margin: auto;

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
